    <div class="parent">
      <img class="image1" src="../../assets/homepage.jpg" />
      <h1 class="text">Plan your trip<br> with us!</h1>
      <a routerLink='admin-login'><i class="bx bx-user"></i></a>
      <img class="image2" src="../../assets/home.jpg" />
      <button class="btn"> <a [routerLink]="['signup']" >B O O K &nbsp;N O W</a></button>
    </div>
  
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

<br>
<div class="container">
    <br>
<label><b>Why book bus tickets through online?</b></label><br><br>
<p>Online bus booking offers more convenience, choice, and flexibility than offline booking. However, some people may prefer offline booking for various reasons, such as face-to-face interactions and cash payments. In addition, some people prefer to book a bus ticket through a travel agent or at a counter. However, people are recognising the advantages of online bus ticket booking now. Booking online bus tickets on redBus offers several advantages over offline prehistoric booking modes.</p>
<br>
<p>1.<b> Convenience:</b> Booking bus tickets online saves you the time and hassle of standing in long queues at the bus station or travelling to a ticketing office.
<br>
<br>
    2.<b> Availability:</b> Booking bus tickets online allows you to easily access and compare the availability of bus routes and schedules from multiple bus operators.</p>

<p>3. <b>Discounts and Deals:</b> Many bus operators offer special discounts and deals for online bus bookings, which can help you save on travel expenses. Customers can even avail of exclusive discounts while making their bus reservations provided by bus booking sites that cannot be matched by any value offered by a travel agent or a counter.</p>

<p>4. <b>Secure payment:</b> Online booking platforms use secure gateways that protect your payment information and prevent fraud.
<br><br>
    5. <b>Assured Seats:</b> Many online booking platforms allow you to choose your preferred seat on the bus, giving you more control over your travel experience.</p>
</div>
<br>
        <!--footer-->
<footer class="foo_area">
        <!-- Top Footer Area Start -->
        <div class="foo_top_header_one section_padding_100_70">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foo_part">
                            <h5>About Us</h5>
                            <p>It includes rich features & contents. It's designed & developed based on that the user can easily book tickets for whereever they want. You can use this platform from anywhere.</p>
                            <p>Our company is completely open to all, clean & 100% responses. Plan your trip into next level with us.</p>
                        </div>
                        <div class="foo_part m-top-15">
                            <h5>Social Links</h5>
                            <ul class="foo_social_links d-flex ">
                                <li><a href="#"><i class='bx bxl-facebook facebook-icon'></i> Facebook</a></li>
                                <li><a href="#"><i class='bx bxl-twitter twitter-icon'></i> Twitter</a></li>
                                <li><a href="#"><i class='bx bxl-google google-icon'></i> Google</a></li>
                                <li><a href="#"><i class='bx bxl-instagram instagram-icon'></i> Instagram</a></li>
                                <li><a href="#"><i class='bx bxl-linkedin linkedin-icon'></i> Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        

                        <div class="foo_part m-top-15">
                            <h5 class="imp">Important Links</h5>
                            <ul class="foo_links">
                                <li><a href="#"><i class=' bx bx-chevrons-right'></i> Terms & Conditions</a></li>
                                <li><a href="#"><i class=' bx bx-chevrons-right'></i> About Licences</a></li>
                                <li><a href="#"><i class=' bx bx-chevrons-right'></i> Help & Support</a></li>
                                <li><a href="#"><i class=' bx bx-chevrons-right'></i> Careers</a></li>
                                <li><a href="#"><i class=' bx bx-chevrons-right'></i> Privacy Policy</a></li>
                                <li><a href="#"><i class=' bx bx-chevrons-right'></i> Community & Forum</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        
                            
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foo_part">
                            <h5>Quick Contact</h5>
                            <div class="foo_single_contact_info">
                                <h5>Phone:</h5>
                                <p>+255 255 54 53 52 <br> +255 255 53 52 51</p>
                            </div>
                            <div class="foo_single_contact_info">
                                <h5>Email:</h5>
                                <p>support@email.com <br> company@email.com</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class=" foo_bottom_header_one section_padding_50 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>© All Rights Reserved by <a href="#">Plan ur trip!!<i class="fa fa-love"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

