/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #181818;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    column-gap: 30px;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
    box-shadow: 3px 1px #9e9a9a;
    background: transparent;
    color:#fff;
}
.field input::placeholder{
    color:#fff;
}
.field input:focus{
    border-bottom-width: 2px;
}
.bx{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #01d394;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #01d394;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.form a{
    color: #01d394;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    color: #fff;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #01d394;
}

a.google{
    color: #fff;
    border: 1px solid #CACACA;
}

a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #01d394;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
.google-icon
{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
a.google .google-icon{
    height: 28px;
    width: 28px;
    color: #01d394;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


a.google span{
    font-weight: 500;
    opacity: 0.9;
    color: #ffffff;
}
a.facebook span{
    font-weight: 500;
    opacity: 0.9;
    color: #ffffff;
}
@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
} */

form{
    width: 500px;
    padding: 10px;
}
.container{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    margin-left: 8%;
}
#btn{
    width: 190%;
    margin-left: 95%;
}
p{
    margin-left: 35%;
}

#gobtn{
    width:10% ;
    margin-left: 45%;
}
a{
    text-decoration: none;
    color: white;
}
.login{
    text-decoration: none;
    color: green;
}
h6{
    margin-left: 18%;
}
