<header class="shadow-lg mt-1 p-3 mb-15 bg-white rounded d-flex justify-content-center">
  <img src="../../assets/bus.png" alt="Logo" width="50px">
  <p class="mt-2 ">&nbsp; &nbsp;Bus Ticket Reservation System</p>
<!-- 
  <a routerLink="home">home</a> -->
</header>

<!-- <app-main-page></app-main-page>
<app-busselection></app-busselection> -->
 <!-- <app-login></app-login> -->
<!-- <app-signup></app-signup>  -->
<!-- <app-home></app-home> -->
<router-outlet></router-outlet> 
<!-- <app-admin-login></app-admin-login> -->
